.all-skills-page {
  padding-top: 50px;
}

/* Hero Section */
.skills-hero {
  padding: 80px 0;
  background: #EBEBDF;
}

.skills-hero h1 {
  font-weight: bold;
}

.skills-hero .highlight {
  color: #1A1265; /* نفس اللون الأساسي */
}

.skills-hero h2 {
  font-weight: 600;
  margin-top: 10px;
  color: #2b1e8c87;
}

.skills-hero p {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #475569;
}

.cv-btn {
  margin-top: 20px;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

/* Profile Image */
.profile-img img {
  width: 250px;
  height: 250px;
  
  padding: 5px;
  box-shadow: 0 0 20px rgba(30, 64, 175, 0.5);
}

/* Skills Section */
.skills-section {
 padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title1{
  font-size: 1.1rem;
    color: #2b1e8c87;
    font-weight: bold;
}
.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1A1265;
}
.skills-box-centered {
  max-width: 90%;
  width: 100%;
  margin: auto;
  padding: 32px;
  background-color: #f8fafc !important;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.08);
}

.skills-grid-centered {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* عدل حسب عدد الكروت */
  gap: 10px;
}

.skill-card-centered {
  width: 95%;
  height: 90%;
  background: #f8fafc;
  border-radius: 12px;
  padding: 18px 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  transition: box-shadow 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-card-centered:hover {
  box-shadow: 0 8px 20px rgba(30, 64, 175, 0.18);
  /* transform: translateY(-8px) scale(1.04); */
  /* background: #e0e7ff; */
  border: 1.5px solid #1e40af;
  /* transition: box-shadow 0.25s, transform 0.25s, background 0.25s, border 0.25s; */
}

.skill-h5{
font-size: 1rem;
  font-weight: 600;
  margin: 5px 0 2px;
  color: #1A1265;
}

.skill-p{
  font-size: 0.8rem;
  font-weight: 600;
  color: #2b1e8c87;
  margin: 0;
}



/* Responsive for mobile */
@media (max-width: 600px) {
  .skills-box {
    padding: 20px 8px;
    max-width: 98vw;
  }
  

  .skills-grid-centered {
    grid-template-columns: repeat(2, 1fr); /* عدل حسب عدد الكروت */
    gap: 18px;
  }
}

@media (max-width: 600px) {
  .skills-hero {
    padding: 40px 0 20px 0;
    text-align: center;
  }
  .skills-section {
    padding: 0px 0;
  }

  .skills-hero h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .skills-hero h2 {
    font-size: 1rem;
    margin-top: 6px;
  }

  .skills-hero p {
    font-size: 0.95rem;
    margin-top: 12px;
  }

  .profile-img img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border-width: 2px;
    margin-top: 10px;
    padding: 2px;
  }

  .cv-btn {
    font-size: 1rem !important;
    margin-top: 14px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}